@font-face {
    font-family: "Mystery Quest";
    src: url("../fuentesweb/Formula1-Regular.ttf");
  }
@font-face {
    font-family: "Halloween";
    src: url("../fuentesweb//Halloween\ Spooky.otf");
}
 p.halloween{
    font-family: "Mystery Quest", cursive;
    font-size: 150%;
  }
*{
    background-color: aqua;
}
h1#granhallo {
    color: blue;
    background-color: red;
    font-family: "Halloween", cursive;
}
p[class] {
    background-color: yellow;
}
p[class=mayúsculas]{
  text-transform: uppercase;
}
a:link {
  color: yellow;
}
a:visited {
  color: red;
  background-color: pink;
}
a:hover {
  color: green;
}
a:link#halloween {s
  color: orange;
  background-color: black;
}
input:focus {
  border: red 2px dotted;
  padding: 2px;
  background-color: greenyellow;
}
q:lang(en) {
  quotes: '"' '"';
}
p::first-letter {
  color: red;
}
p#one::first-line {
  text-transform: uppercase;
}
p#cita1::before {
  content: "Cita importante: ";
  font-weight: bold;
  text-decoration: underline;
}
/* comentario /*